<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
          <h1 class="text text-black text-center">#Liste des paiements</h1>
            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">

              <thead>
                <tr>
                  <th class="tHead">Paiement</th>
                  <!-- <th class="tHead">Prenom</th>
                  <th class="tHead">Nom</th>
                  <th class="tHead">Montant</th>
                  <th class="tHead">Mensuel</th>
                  <th class="tHead">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center"><p class="text-center">Aucun paiement effectuer pour le moment</p></td>
                  <!-- <td>Farima</td>
                  <td>Drey</td>
                  <td>Wave</td>
                  <td>5000</td>
                  <td>janvier</td>
                  <td><span><i class="fa-solid fa-eye"></i></span></td>
                </tr> -->


              </tbody>
            </table>



          </div>
      </main>
  </div>
</div>
