<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <h1 class="text-danger">Liste des paiement</h1>
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">

              <thead>
                <tr>
                  <th>ID</th>
                  <th>Prenom</th>
                  <th>Nom</th>
                  <th>Mode de paiement </th>
                  <th>Montant</th>
                  <th>Mensuel</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Farima</td>
                  <td>Drey</td>
                  <td>Wave</td>
                  <td>5000</td>
                  <td>janvier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Anta</td>
                  <td>Sylla</td>
                  <td>OMoney</td>
                  <td>3000</td>
                  <td>javier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Panthère</td>
                  <td>Seye</td>
                  <td>OMoney</td>
                  <td>3000</td>
                  <td>fevrier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Yoda</td>
                  <td>Balmaséda</td>
                  <td>Wave</td>
                  <td>5000</td>
                  <td>janvier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Patrick</td>
                  <td>Anderson</td>
                  <td>Wave</td>
                  <td>5000</td>
                  <td>fevrier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Armel</td>
                  <td>Drey</td>
                  <td>Wave</td>
                  <td>10000</td>
                  <td>mars</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>François</td>
                  <td>Faye</td>
                  <td>OMoney</td>
                  <td>5000</td>
                  <td>Janvier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Michel</td>
                  <td>Faye</td>
                  <td>Wave</td>
                  <td>7000</td>
                  <td>mars</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Mama Nar</td>
                  <td>Sylla</td>
                  <td>OMoney</td>
                  <td>3000</td>
                  <td>javier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Simon</td>
                  <td>Ndiaye</td>
                  <td>OMoney</td>
                  <td>3000</td>
                  <td>janvier</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>Louis</td>
                  <td>Levis</td>
                  <td>Wave</td>
                  <td>7000</td>
                  <td>Mai</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Zelda</td>
                  <td>Anderson</td>
                  <td>Wave</td>
                  <td>7000</td>
                  <td>Mai</td>
                  <td><i class="fa-solid fa-eye"></i></td>
                </tr>
              </tbody>
            </table>



          </div>
      </main>
  </div>
</div>
