<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">

            <div class="mescarte">
              <div class="carte1">
                <div class="container">
                  <div class="main-title">
                    <p class="font-weight-bold">DASHBOARD</p>
                  </div>
                  <div class="row">
                      <div class="col-md-4 col-xl-3 ">
                          <div class="card bg-c-blue order-card p-2">
                              <!-- <div class="card-block"> -->
                                  <h6 class="m-b-20">Réclamation</h6>
                                  <h2 class="text-right"><span><i class="fa-solid fa-circle-info"></i>16</span></h2>
                                  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                              <!-- </div> -->
                          </div>
                      </div>

                      <div class="col-md-4 col-xl-3">
                          <div class="card bg-c-green order-card p-2">
                              <!-- <div class="card-block"> -->
                                  <h6 class="m-b-20">Pavion</h6>
                                  <h2 class="text-right"><span><i class="fa-solid fa-building"></i>20</span></h2>
                                  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                              <!-- </div> -->
                          </div>
                      </div>

                      <div class="col-md-4 col-xl-3">
                          <div class="card bg-c-yellow order-card p-2">
                              <!-- <div class="card-block"> -->
                                  <h6 class="m-b-20">Chambres</h6>
                                  <h2 class="text-right"><span><i class="fa-solid fa-house"></i>600</span></h2>
                                  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                              <!-- </div> -->
                          </div>
                      </div>

                      <div class="col-md-4 col-xl-3">
                          <div class="card bg-c-pink order-card p-2">
                              <!-- <div class="card-block"> -->
                                  <h6 class="m-b-20">Etudiants</h6>
                                  <h2 class="text-right"><span><i class="fa-solid fa-user"></i>486</span></h2>
                                  <p class="m-b-0">Completed Orders<span class="f-right">100000</span></p>
                              <!-- </div> -->
                          </div>
                      </div>
                </div>

                      <div class="charts mt-5">
                        <div class="charts-card">
                          <p class="chart-title">Etudiants Récent</p>
                        </div>

                        <div class="charts-card">
                          <p class="chart-title">Nos Etudiant Pavions et Chambres </p>
                        </div>
                      </div>
                      <div class="pourcentage">
                        <div id="recent">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">E-mail</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>André</td>
                                <td>Ndione</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Ndiaye</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>3</th>
                                <td >Marianne</td>
                                <td >Diouf</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>4</th>
                                <td >Fatou</td>
                                <td >Diouf</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>5</th>
                                <td >Anna</td>
                                <td >Sarr</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>6</th>
                                <td >Aissatou</td>
                                <td >Diouldé</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>7</th>
                                <td >Marie Joe</td>
                                <td >Diouf</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>8</th>
                                <td >Sophie</td>
                                <td >Sarr</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>9</th>
                                <td >Marie Laure</td>
                                <td >Coly</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                              <tr>
                                <th>10</th>
                                <td >Dieynaba</td>
                                <td >Coly</td>
                                <td><i class="fa-solid fa-envelope"></i></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        

                      </div>
              </div>
              </div>
            </div>
          </div>
      </main>
  </div>
</div>


