.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}
h2 span{
  color: #E68513;
}
.card:first-child {
  border-left: 7px solid #E68513;
}

.table{
  width: 100%;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}




body {
  margin: 0;
  background: lightgray;
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}
.container {
  position: relative;
  width: 100;
  /* margin: 100px auto 0 auto; */
  perspective: 1000px;
}

html {
  height: 100%;
   background: -moz-linear-gradient(-45deg, #de437d 0%, #A41034 100%);
background: -webkit-linear-gradient(-45deg, #de437d 0%,#A41034 100%);
background: linear-gradient(135deg, #de437d 0%,#A41034 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de437d', endColorstr='#5b44b9',GradientType=1 );
}

body {
  font-family: 'open sans', sans-serif;
  font-size: 3rem;
  background-size: cover;
  height: 100%;

}

svg {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  height: 100%;
}

polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in forwards;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}

/*
p {
  font-size: 2rem;
  text-align:center;
  color: #efefef;
}
.name {
  font-size: .8rem;
  font-weight: light;
} */
