<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">

            <div class="mescarte">
              <div class="carte1">
                <div class="container">
                  <div></div>
                </div>
              </div>
            </div>


          </div>
      </main>
  </div>
</div>
