<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebaretudiant></app-sidebaretudiant>
  <!-- Main Component -->
  <div class="main">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">

            <div class="mescarte">
              <div class="carte1">
                <div class="container">
                  <!-- <div class="main-title">
                    <p class="font-weight-bold">DASHBOARD</p>
                  </div> -->
                  <div class="row">

                    <h1 class="titre text-black text-center">Historique des Réclamations</h1>
                      <button type="button" data-bs-toggle="modal" data-bs-target="#fairesaDemande" style="background-color: #A41034; color: white; width: 20%;height: 40px; border-radius: 10px; margin-top: 20px; ">Faire une Réclamation</button>
                      <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table"*ngIf="reclamations.length >0">


                        <thead>
                          <tr>
                            <th class="tHead">Objet</th>
                            <th class="tHead">Message</th>
                            <th class="tHead">Statut </th>
                            <!-- <th class="tHead">Chambres</th> -->
                            <th class="tHead">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor=" let reclamation of reclamations">
                            <td>{{reclamation.objet}}</td>
                            <td>{{reclamation.message}}</td>
                            <td>{{reclamation.status}}</td>
                            <!-- <td>{{reclamation.chambres_id}}</td> -->

                            <td><span>
                              <div  class="d-flex gap-2">
                                <!-- <button>
                                  <i class="fa-solid fa-eye" data-bs-toggle="modal" data-bs-target="#detail" (click)="getDemandeReclamation(reclamation)"></i>
                                </button> -->
                                <button >
                                  <i class="fa-solid fa-trash" (click)="deleteReclamationChefEtudiant(reclamation.id)"></i>
                                </button>
                            </div>
                            </span></td>
                          </tr>
                        </tbody>
                      </table>

                      <table *ngIf="reclamations.length <0">
                        <thead>
                            <tr>
                                <th>objet</th>
                                <th>message</th>
                                <th>status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="7">Aucune donnée disponible au niveau du tableau</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
              </div>
              </div>
            </div>
          </div>
      </main>
  </div>
</div>
<!-- Modal pour fire une reclamation -->
<div class="modal fade" id="fairesaDemande" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Faire une Reclamation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- bojet -->
      <div class="mb-3">
        <label for="exampleInputmessage" class="form-label">Objet<span class="span_validate" id="validationObjet"></span></label>
        <input type="text" class="form-control"  name="objet"   [(ngModel)]="objet">
        <!-- (input)="objetValidate()" -->

      </div>

      <!-- message -->
          <div class="mb-3">
            <label for="exampleInputmessage" class="form-label">Message<span class="span_validate" id="validationMessage"></span></label>
            <input type="text" class="form-control" name="message"  [(ngModel)]="message">
            <!-- (input)="messageValidate()" -->

          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="typebutton btn " (click)="FaireUneReclamation()">Envoyer</button>
        <!-- [disabled]="truthyTab.length<2" -->
        <button type="button" class="btn  " data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>



