.card:first-child {
  border-left: 7px solid #E68513;
}
h2 span{
  color: #E68513;
}
button{
  background-color: #A41034;
  color: white;
}
.typebutton{
  background-color: #E68513;
  color: white;
}
.tHead{
    background-color: #A41034;
    color: white;
  }

/* validation */
span.span_validate
{
  font-size: 12px;
  display: none;
  transition: ease 1.5s;
}

.error
{
  display: inline-block !important;
  color: red !important;
}
.success
{
  display: inline-block !important;
  color: rgb(45, 194, 77) !important;
}

