<aside id="sidebar" class="border border-1 border-primary h-100" style="background-color: #A41034;">
  <div class="h-100">
      <div class="sidebar-logo">
        <a href="#"><img src="../../assets/actu/MV5BMDZiOGJmNGMtMTgzMS00YmNlLTk2NTQtZWViNjQzNmQ1ZmFjXkEyXkFqcGdeQXVyOTIyMjQ2ODM@ 2.png" alt=""></a>

      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
          <li class="sidebar-header ">
              Etudiant
          </li>
          <li class="sidebar-item mb-3">
            <a routerLink="/etudiant" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                <i class="fa-solid fa-sliders pe-2"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-item mb-3">
          <a routerLink="/etudiantreclamation" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
              <i class="fa-solid fa-list pe-2"></i>
              Reclamation
          </a>
      </li>
      <li class="sidebar-item mb-3">
        <a routerLink="/paiementetudiant" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
            <i class="fa-solid fa-list pe-2"></i>
            Paiement
        </a>
    </li>
      </ul>
  </div>
</aside>
