<aside id="sidebar" class="border border-1 border-primary h-100" style="background-color: #A41034;">
  <div class="h-100">
      <div class="sidebar-logo">
        <a href="#"><img src="https://th.bing.com/th/id/R.c4b5c4cd1264e1885a08943e01dc572b?rik=J9Q9JV7sxf%2f0xQ&riu=http%3a%2f%2fst.depositphotos.com%2f1011643%2f2013%2fi%2f950%2fdepositphotos_20130323-stock-photo-male-african-college-student-reading.jpg&ehk=NIQtPUTRAUV19Chk%2fwiIANrjeeCrrAnvZLk9g%2b2I76o%3d&risl=&pid=ImgRaw&r=0" alt=""></a>

      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
          <li class="sidebar-header mb-4 d-flex align-items-center" style="margin-left: 75px;">
              <div>{{userConnected.prenom + " " + userConnected.nom}}</div><div style="height: 10px; width: 10px; background-color: green; border-radius: 50%; margin-left: 5px;"></div>
          </li>
          <li class="sidebar-item mb-3">
            <a routerLink="/etudiant" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                <i class="fa-solid fa-sliders pe-2"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-item mb-3">
          <a routerLink="/etudiantreclamation" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
              <i class="fa-solid fa-list pe-2"></i>
              Reclamations
          </a>
      </li>
      <li class="sidebar-item mb-3">
        <a routerLink="/payeetudiant" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
          <i class="fa-solid fa-money-bill"></i>
            Paiements
        </a>
    </li>
    <!-- <li class="m-lg-4 mb-3 text-white"><i (click)="logout()"  class="fa-solid fa-right-from-bracket"></i>Déconnexion
    </li> -->
    <li class="sidebar-item mb-3">
      <a (click)="logout()"  routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
        <i  class="fa-solid fa-right-from-bracket"></i>
          Deconnexion
      </a>
  </li>
      </ul>

  </div>
</aside>
