<app-header></app-header>
<div class="pagecontainer">
  <div class="banier mx-0 ">
    <img src="../../assets/apropos/baniireapropos.png" alt="">
  </div>


  <div class="mere">
    <div class="card-text d-flex w-75 cardBanner" >
      <div class="" >
        <div class="card p-3" id="baniercarte">
          <div class="d-flex flex-row mb-3" >
            <div class="d-flex gap-3">
              <div>
                <span class=""><i class="bi bi-bullseye"></i></span>
              </div>
              <div><strong>Objectif</strong></div>
            </div>
          </div>
          <h6>
            Notre objectif est mettre en place une plateforme de gestion de codification qui facilitera : 
             L’administration à faire le suivi des distributions, d’attributions des chambres, pavillons et la gestion des paiements par chambre. 
            Aider l'administration à avoir la base de données des demandes et les information des étudiants pour une bonne geston.
          </h6>
        </div>
      </div>

      <div class="" >
        <div class="card p-3"  id="baniercarte">
          <div class="d-flex flex-row mb-3" >
            <div class="d-flex gap-3 ">
              <div>
                <span class=""><i class="fa-solid fa-arrow-up-right-dots "></i></span>
              </div>
              <div><strong>Cible</strong></div>
            </div>
          </div>
          <h6>
            Les étudiants quittent massivement leur zone d'origine pour rejoindre les universités, créant ainsi une demande croissante de logements à l'Université . Cette affluence engendre des difficultés de codification et d'installation pour les étudiants, mettant en lumière le besoin d'une solution efficace de gestion des codifications.
          </h6>
        </div>
      </div>

      <div class="">
        <div class="card p-3"  id="baniercarte">
          <div class="d-flex flex-row mb-3">
            <div class="d-flex gap-3">
              <div><span><i class="bi bi-bullseye"></i></span></div>
              <div><strong>Résultats attendus</strong ></div>
            </div>
          </div>
          <h6>
            A partir des informations en tirés des parties prenantes(L'administration, les étudiants), nous constatons  que les codifications et les gestions de logements des étudiants des universités publiques du Sénégal présente d'innombrables failles. C’est ce contexte nous souhaitons mettre en place une plateforme de gestion de codification.

          </h6>
        </div>
      </div>
    </div>
  </div>
  <h1 class="m-lg-5 fw-bold">Qui sommes-nous</h1>
  <div class="d-flex gap-5 w-75" id="propos" >
    <div class="image h-100" >
      <img src="../../assets/apropos/Group 9993.png" alt="">
    </div>
    <div>
      <p>L’université cheick Anta Diop offre un espace d’échange et de suivie pour tout personne en quêtes de recherche de chambre dans le campus. De par son réseau les administrateurs hautement qualifié dans la plateforme ont les réponse a toutes vos questions et attentes L'université Cheikh Anta Diop de Dakar (UCAD) est la meilleure université en Afrique francophone selon le classement eduranking.org.<br>
        C'est un classement indépendant basé sur une évaluation de plus de 14.000 universités de 183 pays. Selon ce classement, l'UCAD occupe la 1ere place en Afrique Francophone et la 28ème place en Afrique.<br>
      La codification à l'UCAD est ouverte à tous les étudiants justifiant des titres requis, sans distinction de nationalité, de race, de sexe ni de religion, dans la limite des places disponibles et selon des procédures d'admission spécifiques à chaque établissement. </p><br>

    </div>
  </div>
  <h1 class="m-lg-5 fw-bold">Vous loger</h1>
  <div class="loge d-flex justify-content-sm-between mb-5">
    <div class="imgloge w-25">
      <!-- <img src="../../../assets/apropos/Around-The-World-Backpackers-Christchurch-Hostel-4-Bed-Mixed-Dorm-600x400 1.png" alt=""> -->
      <img src="../../../assets/apropos/image 8.png" alt="">
    </div>
    <div class="texte">
      <h4>Vie Etudiant</h4>
      <p>Dès la venue de l’étudiant, le service de l’hébergement se charge de l’accueillir et de l’orienter dans ses démarches afin qu’il puisse bénéficier des œuvres sociales du COUD. Et pour se faire, certaines conditions sont à remplir.
        Pour une bonne gestion des cités universitaires, des réformes ont été instaurés : une plateforme numérique de codifications pour garantir l’équité, la transparence et la justice. Les codifications sont réparties entre deux quotas : un quota pédagogique et un quota social. Le quota pédagogique est limité à 70% sur la base des critères d’excellence et le quota social est limité à 30% pour les étudiants en situation de handicap.
        Le COUD dispose de soixante-dix (70) logements (pavillons et résidences) répartis dans la grande cité, les sites externes et les universités rattachées. Grâce à des équipements de qualité, ces résidences sont la garantie d’un vrai confort de vie et d’étude.</p>
    </div>
  </div>
  <div class=" info d-flex ">
    <img src="../../../assets/service/etudiant.jpg" alt="">
    <div class=" textpara bg-white h-25" style="box-shadow: 0px 4px 5px #A41034; padding-bottom: 30px; padding-top: 30px; text-align: center;">
      <h4 class="fw-bold">Comment ça marche</h4>
      <p class=" etudiant w-75 m-lg-5">La plateforme de codification a pour objectif d'inscrire les étudiants nouvellement arrivés à l'université avec une mention "très bien" ou "assez bien", ainsi que les étudiants en L1, L2 et L3 ayant une moyenne leur permettant de bénéficier de la codification pour faciliter leur accès aux démarches de logement universitaire. Cette initiative favorisera la transparence et le suivi administratif des étudiants dans les logements universitaires.</p>
    </div>
  </div>
  <div class="title">
    <h1 class="m-lg-5 fw-bold">L'équipe</h1>
    <div class="team">

      <div>
        <div class="content">
          <h2>Tidjane Badji</h2>
          <span>Developeur backend</span>
        </div>
      </div>
      <div>
        <div class="content">
          <h2>Astou Diouf</h2>
          <span>Developeuse Frontend</span>
        </div>
      </div>
      <div>
        <div class="content">
          <h2>Salem MAlick</h2>
          <span>Developeur backend</span>
        </div>
      </div>
      <div>
        <div class="content">
          <h2>Diop Soly</h2>
          <span>Developeuse Frontend</span>
        </div>
      </div>
      <div>
        <div class="content">
          <h2>laure Coly</h2>
          <span>Developeuse Frontend</span>
        </div>
      </div>
    </div>

  </div>
  <h1 class="m-lg-5 fw-bold ">Actualité</h1>


<div class="container bootstrap snippets bootdeys">
    <div class="col-md-12 ">
        <div class="timeline-centered timeline-sm">

            <article class="timeline-entry left-aligned">
                <div class="timeline-entry-inner">
                    <time datetime="2014-01-10T03:45" class="timeline-time"></time>
                    <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                    <div class="timeline-label bg-green"><h4 class="timeline-title">18 mars 2022 / 08 Avril 2022 <br>
                      Programme de cologue </h4>

                    <p>Communique/ 24 déc 23
                      Nous partageons avec vous le programme du Colloque  dans les pavions universitaire qui se déroulera du 26 au 29 décembre 2023 au Musée des Civilisations Noires (MCN) à Dakar, Sénégal.</p></div>
                </div>
            </article>
            <article class="timeline-entry">
                <div class="timeline-entry-inner">
                  <time datetime="2014-01-10T03:45" class="timeline-time"></time>
                  <div class="timeline-icon bg-orange"><i class="fa fa-group"></i></div>
                  <div class="timeline-label bg-orange"><h4 class="timeline-title">18 mars 2023 / 08 Avril 2024 <br>
                    Financement au Programme européen </h4>

                  <p>Communique/ 24 déc 23
                    Dans le cadre de la mise en œuvre des conventions, notamment de la coopération au développement belge, des financements de l’ARES-CCD et du programme européen de mobilité Erasmus+(AC 171), Pr Amina</p></div>
              </div>
            </article>
        </div>
    </div>
</div>
<h1 class="m-lg-5 fw-bold ">Contact</h1>
<div class="contact d-flex">
  <div><img src="../../../assets/actu/Blue Modern Contact Us Instagram Post(1).png" alt=""></div>
  <div class="form">
    <h5 class="mb-5 text-xl-center fw-bold">formulaire</h5>
    <div class="nom mb-3 w-90 m-lg-4">
      <label for="exampleInputname" class="form-label">Nom</label>
      <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
    </div>
    <div class="nom mb-3 w-90 m-lg-4">
      <label for="exampleInputname" class="form-label">Prenom</label>
      <input type="name" class="form-control" id="exampleInputPrenom" aria-describedby="prenomHelp">
    </div>
    <div class="mail mb-3 w-90 m-lg-4">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-floating mb-3  w-90 m-lg-4">
      <textarea class="form-control h-25" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea ">Message</label>
    </div>
    <button type="submit" class="btn  w-25" style="background-color: #A41034; color: white; margin-left: 40%;">Envoyer</button>

</div>
</div>
<h1 class="m-lg-5 fw-bold ">Partenaires</h1>
<div class="partener d-flex gap-5 mb-5" style="margin-left: 20%; margin-top: -20px; " >
  <img src="../../../assets/partenaires/adie.png" alt="">
  <img src="../../../assets/partenaires/ucad.png" alt="">
  <img src="../../../assets/partenaires/guorguisy.png" alt="">
  <img src="../../../assets/partenaires/maroc.png" alt="">
  <img src="../../../assets/partenaires/lonase.png" alt="">
</div>
</div>
<app-footer></app-footer>
