*{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  transition: scroll-snap-align 5s ease-in-out;
}
.loginpage{
  background-color: #A41034;
  color: white;
  border-radius: 10px;
  padding: 8px;
  text-decoration: none;
}
.active {
  color: #A41034;
  font-weight: bold;
}

#cercleicone{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: 10px;

}
#cercleicone a{
color: black;

}

#logomenu1 img{
height: 80px;
margin-left: 30px;
}
#logomenu2 img{
height: 80px;
}

*{
  /* border: 1px black solid; */
}

.Menu{
  background-color: white;
  width: 100%;

}

.navbar-nav{
  margin-left: 28%;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-weight: 700;
    border-radius: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #A41034;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}
.activeMenu{
  background-color: #A41034 !important;
}

  

/* Media query menu header */
@media (max-width:990px){
  #logomenu1 img{
    display: none;
    }
    #navigation{
      width: 100%;
      margin: auto;
    }
    .Menu{

    }
}


