<app-header></app-header>
<div class="container">
<h1 class="titre">Politique de Confidentialité</h1>

<span class="text-">Dernière mise à jour : [05/01/2024] </span>
<p class="w-85" style="text-align: justify;">

  Bienvenue sur [Sama Codification], exploité par [Etudiant Université]. Nous accordons une grande importance à la protection de la vie privée de nos utilisateurs. Cette politique de confidentialité explique comment nous recueillons, utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez notre site Web [codification@gmail.com] et les services associés (collectivement, le "Service").
  En utilisant le Service, vous consentez à la collecte et à l'utilisation de vos informations conformément à cette politique de confidentialité. Si vous n'êtes pas d'accord avec les termes de cette politique, veuillez ne pas utiliser notre Service. 
  1. Informations que nous collectons <br>

  Nous pouvons collecter des informations personnelles vous concernant lorsque vous utilisez notre Service. Les types d'informations que nous pouvons collecter comprennent, sans s'y limiter :
  Informations d'identification personnelle telles que votre nom, adresse e-mail, numéro de téléphone, etc.
  Informations sur votre logement actuel ou futur, telles que l'emplacement, le loyer, les commodités, etc.
  Informations sur votre statut d'étudiant, telles que le nom de votre établissement, la filière, le niveau d'études, etc.
  Informations de paiement, si vous effectuez des transactions via notre Service.
  Informations démographiques telles que votre âge, sexe, etc. <br>
  2. Comment nous utilisons vos informations 
  Nous utilisons vos informations personnelles aux fins suivantes :
  Pour fournir et maintenir notre Service.
  Pour vous informer sur les mises à jour du Service et répondre à vos demandes.
  Pour personnaliser votre expérience et offrir du contenu pertinent.
  Pour traiter les transactions et fournir un support client.
  Pour respecter les obligations légales et réglementaires. 
  3. Partage de vos informations 
  Nous pouvons partager vos informations personnelles avec des tiers dans les cas suivants :
  Avec votre consentement.
  Pour respecter des obligations légales.
  Pour protéger nos droits, notre vie privée, notre sécurité ou notre propriété.
  En cas de fusion, acquisition ou vente d'actifs de notre entreprise. 
  4. Sécurité des informations 
  Nous mettons en place des mesures de sécurité pour protéger vos informations contre tout accès non autorisé, altération, divulgation ou destruction. 
  5. Vos choix 
  Vous pouvez choisir de ne pas fournir certaines informations, mais cela pourrait affecter votre utilisation du Service. Vous pouvez également accéder, mettre à jour ou supprimer vos informations en nous contactant à [codification@gmail.com]].
  6. Modifications de la politique de confidentialité
  Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page avec la date de la dernière mise à jour. 
  7. Nous contacter 
  Si vous avez des questions concernant cette politique de confidentialité, veuillez nous contacter à [codification@gmail.com]].
  Merci d'utiliser [Sama Codification] !
</p>
</div>
<app-footer></app-footer>
