<aside id="sidebar" class="border border-1 border-primary h-100" style="background-color: #A41034;">
  <div class="h-100">
      <div class="sidebar-logo">
        <img src="../../assets/actu/MV5BMDZiOGJmNGMtMTgzMS00YmNlLTk2NTQtZWViNjQzNmQ1ZmFjXkEyXkFqcGdeQXVyOTIyMjQ2ODM@ 2.png" alt="" >

      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
          <li class="sidebar-header">
              Tools & Components
          </li>
          <li class="sidebar-item">
            <a href="/admin" class="sidebar-link collapsed" >
                <i class="fa-solid fa-sliders pe-2"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/pavion" class="sidebar-link">
              <i class="fa-solid fa-list pe-2"></i>
              Pavion
          </a>
      </li>

          <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                  aria-expanded="false" aria-controls="pages">
                  <i class="fa-regular fa-user pe-2"></i>
                  Etudiants
              </a>
              <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item">
                      <a href="/etudiantparmerite" class="sidebar-link">Etudiant par mérite</a>
                  </li>
                  <li class="sidebar-item">
                      <a href="/cassocial" class="sidebar-link">Cas Social</a>
                  </li>

              </ul>
          </li>
          <li class="sidebar-item">
            <a routerLink="/paiement" class="sidebar-link">
                <i class="fa-regular fa-credit-card"></i>
                Paiement
            </a>
        </li>
          <li class="sidebar-item">
              <a href="/utilisateur" class="sidebar-link collapsed" >
                  <i class="fa-regular fa-user pe-2"></i>
                  Chef Pavion
              </a>
          </li>
      </ul>
  </div>
</aside>
