<aside id="sidebar" class="border border-1 border-primary h-100" style="background-color: #A41034;">
  <div class="h-100">
      <div class="sidebar-logo">
        <img src="https://thumbs.dreamstime.com/b/homme-d-affaires-afro-am%C3%A9ricain-bel-5358897.jpg" alt="" >

      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav ">
          <li class="sidebar-header mb-3" style="margin-left: 80px;">
              Admin
          </li>
          <li class="sidebar-item mb-3">
            <a routerLink="/admin" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                <i class="fa-solid fa-sliders pe-2"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-item mb-3">
          <a routerLink="/pavion" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
              <i class="fa-solid fa-list pe-2"></i>
              Pavillon
          </a>
      </li>
      <li class="sidebar-item mb-3">
        <a routerLink="/listchambre" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
            <i class="fa-solid fa-list pe-2"></i>
            Chambre
        </a>
    </li>

          <li class="sidebar-item mb-3">
              <a routerLink="#" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" data-bs-toggle="collapse" data-bs-target="#pages"
                  aria-expanded="false" aria-controls="pages">
                  <i class="fa-regular fa-user pe-2"></i>
                  Etudiants
              </a>
              <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                  <li class="sidebar-item mb-3">
                      <a routerLink="/etudiantparmerite" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">Etudiant par mérite</a>
                  </li>
                  <li class="sidebar-item mb-3">
                      <a routerLink="/cassocial" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">Cas Social</a>
                  </li>

              </ul>
          </li>
          <li class="sidebar-item mb-3">
            <a routerLink="/paiement" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
                <i class="fa-regular fa-credit-card"></i>
                Paiement
            </a>
        </li>
          <li class="sidebar-item mb-3">
              <a routerLink="/utilisateur" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                  <i class="fa-regular fa-user pe-2"></i>
                  Utilisateurs
              </a>
          </li>
          <li class="sidebar-item mb-3">
            <a  (click)="logout()" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
              <i   class="fa-solid fa-right-from-bracket"></i>
                Deconnexion
            </a>
        </li>
      </ul>
      <!-- <div class="m-lg-4 mb-3 text-white"><i (click)="logout()"  class="fa-solid fa-right-from-bracket"></i>Déconnexion</div> -->
  </div>
</aside>
