<aside id="sidebar" class="border border-1 border-primary h-100" style="background-color: #A41034; ">
  <div class="h-100">
      <div class="sidebar-logo">
          <a href="#"><img src="https://i.pinimg.com/474x/e8/dd/b7/e8ddb7c67cc556c3e2b115562ef7babd--character-inspiration-black-male-writing-inspiration.jpg" alt=""></a>
      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav list-unstyled">
          <li class="sidebar-header mb-3" style="margin-left: 50px;">
              Chef de Pavillon
          </li>
          <li class="sidebar-item mb-3">
            <a routerLink="/chefpavion" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                <i class="fa-solid fa-sliders pe-2"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-item mb-3">
          <a routerLink="/gestionchambre" routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
              <!-- <i class="fa-solid fa-list pe-2"></i> -->
              <i class="fa-solid fa-landmark"></i>
              Gestion Chambres
          </a>
      </li>

          <li class="sidebar-item mb-3">
              <a routerLink="/reclamation" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                  <i class="fa-regular fa-user pe-2"></i>
                  <!-- <i class="fa-solid fa-warehouse-full"></i> -->
                  Reclamations
              </a>
          </li>

          <li class="sidebarconnect-item ">
            <a  (click)="logout()"  routerLinkActive="activeMenu" class="sidebar-link text-decoration-none">
              <i class="fa-solid fa-right-from-bracket"></i>
                Deconnexion
            </a>
        </li>

      </ul>
      <!-- <div class="m-lg-4 mb-3 text-white"><i (click)="logout()"  class="fa-solid fa-right-from-bracket"></i>Déconnexion</div> -->

  </div>
</aside>

