
  .tHead{
    background-color: #a41034;
    color: white;
  }
  span{
    display: flex;
    gap: 15px;

  }
  .text{
    color: #a41034;
  }

  button{
    background-color: #a41034;
    color: white;
    /* border-radius: 10px; */
  }
