<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
          <h1 class="text text-black text-center">Liste des étudiant par mérite</h1>
          <!-- <button type="button " data-bs-toggle="modal" data-bs-target="#AjoutEtudiant" style="background-color: #A41034; color: white; width: 10%;height: 40px; border-radius: 10px;">Ajouter</button> -->
            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">

              <thead class="titre" style="background-color: #A41034;">
                <tr>
                  <!-- <th class="tHead">ID</th> -->
                  <th class="tHead">Nom</th>
                  <th class="tHead">Prenom</th>
                  <th class="tHead">Email</th>
                  <th class="tHead">Telephone </th>
                  <th class="tHead">INE</th>
                  <th class="tHead">Niveau_etudes </th>
                  <th class="tHead">Sexe </th>
                  <!-- <th class="tHead">Adress</th> -->
                  <th class="tHead">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let etudiantParMerite of etudiantParMerites">
                  <!-- <td>{{etudiantParMerite.id}}</td> -->
                  <td>{{etudiantParMerite.nom }}</td>
                  <td>{{etudiantParMerite.prenom }}</td>
                  <td>{{etudiantParMerite.email }}</td>
                  <td>{{etudiantParMerite.telephone }}</td>
                  <td>{{etudiantParMerite.INE }}</td>
                  <td>{{etudiantParMerite.niveau_etudes}}</td>
                  <td>{{etudiantParMerite.sexe }}</td>
                  <!-- <td>{{etudiantParMerite.status_id }}</td> -->
                  <!-- <td>{{etudiantParMerite.adress }}</td> -->

                  <td>
                    <span id="icon" >
                      <!-- <button>
                        <i
                        class="fa-solid fa-marker"
                        data-bs-toggle="modal"
                        data-bs-target="#ModifierEtudiant"
                      (click)="chargerEtuidants(etudiantParMerite)">
                    </i>
                      </button> -->

                      <button>
                        <i
                        class="fa-solid fa-eye"
                        data-bs-toggle="modal"
                        data-bs-target="#detailsEtudiants" (click)="getEtudiantParMeriteAdmin(etudiantParMerite)">
                      </i>
                      </button>
                      <button (click)="validerEttudiant(etudiantParMerite.id)">
                        <i class="fa-solid fa-square-check"></i>
                      </button>

                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </main>
  </div>
</div>

<!-- Modal Ajout Etudiant Par Merite -->
<div class="modal fade" id="AjoutEtudiant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Ajouter un Etudiant par Merite
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="" >


          <div class="mb-3">
            <label for="exampleInputtypenom" class="form-label"
              >Nom</label
            >
            <input
              type="text"
              class="form-control" name="nom"
              id="exampleInputTypeChambre1"aria-describedby="typenomHelp" formControlName="nom"
            />
            <div id="typnomnHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputnbrschambre" class="form-label"
              >Prenom</label
            >
            <input
              type="text" class="form-control" name="prenom" id="exampleInputnbrsChambre1" aria-describedby="nbrschambreHelp"
              formControlName="prenom"/>
            <div id="nbrschambreHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label"
              >Email</label
            >
            <input
              type="text" class="form-control" name="email" id="exampleInputNbrsEtage1" aria-describedby="nbrsetageHelp"
              formControlName="email"
            />
            <div id="nbrsetageHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label"
              >Telephone</label
            >
            <input
              type="text" class="form-control" name="telephon" id="exampleInputNbrsEtage1" aria-describedby="nbrsetageHelp"
              formControlName="telephone"
            />
            <div id="nbrsetageHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputINE" class="form-label">INE</label>
            <input type="text" class="form-control" name="INE"  id="exampleInputINE"
              aria-describedby="INEHelp"
              formControlName="INE"
            />

          </div>

          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label"
              >Niveau_Etudes</label
            >
            <input
              type="text" class="form-control" name="niveau_etudes" id="exampleInputNbrsEtage1" aria-describedby="nbrsetageHelp"
              formControlName="niveau_etudes"
            />
            <div id="nbrsetageHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label"
              >Filiere</label
            >
            <input
              type="text" class="form-control" name="filiere" id="exampleInputNbrsEtage1" aria-describedby="nbrsetageHelp"
              formControlName="filiere"
            />
            <div id="nbrsetageHelp" class="form-text"></div>
          </div>


          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label"
              >Sexe</label
            >
            <input
              type="text" class="form-control" name="sexe" id="exampleInputNbrsEtage1" aria-describedby="nbrsetageHelp"
              formControlName="sexe"
            />
            <div id="nbrsetageHelp" class="form-text"></div>
          </div>

          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label"
              >Adresse</label
            >
            <input
              type="text" class="form-control" name="adresse" id="exampleInputNbrsEtage1" aria-describedby="nbrsetageHelp"
              formControlName="adresse"
            />
            <div id="nbrsetageHelp" class="form-text"></div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="ajouterEtudiantParMerite()" >
          Ajouter
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- modal detail Etudiant -->
<div class="modal fade" id="detailsEtudiants" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter les etudiant par odre de mérite</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <!-- Nom -->
          <div class="mb-3">
            <label for="exampleInputnom" class="form-label">Nom:{{seletedEtudiantParMeriteAdmin.nom}}</label>
            <div id="nomHelp" class="form-text"></div>
          </div>
          <div class="mb-3">

            <!-- Prenom -->
            <label for="exampleInputpremon" class="form-label">Prenom:{{seletedEtudiantParMeriteAdmin.prenom}}</label>
            <div id="premonHelp" class="form-text"></div>
          </div>

          <!-- Telephone -->
          <div class="mb-3">
            <label for="exampleInputtelephone" class="form-label">Telephone:{{seletedEtudiantParMeriteAdmin.telephone}}</label>
            <div id="telephoneHelp" class="form-text"></div>
          </div>

          <!--
          Niveau Etudes -->
          <div class="mb-3">
            <label for="exampleInputstatut" class="form-label">Niveau d'étude:{{seletedEtudiantParMeriteAdmin.niveau_etudes}}</label>
            <div id="etudeHelp" class="form-text"></div>
          </div>

           <!--INE  -->
           <div class="mb-3">
            <label for="exampleInputINE" class="form-label">INE:{{seletedEtudiantParMeriteAdmin.INE}}</label>
            <div id="INEHelp" class="form-text"></div>
          </div>

          <!-- Adress -->
          <div class="mb-3">
            <label for="exampleInputadresse" class="form-label">Adress:{{seletedEtudiantParMeriteAdmin.adresse}}</label>
            <div id="adresseHelp" class="form-text"></div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button  " class="btn btn-danger" data-bs-dismiss="modal">close</button>

      </div>
    </div>
  </div>
</div>
