<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
          <h1 class="text text-black text-center">#Liste des étudiants cas socials</h1>

            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table "  *ngIf="cassocials.length >0">

              <thead>
                <tr>
                  <th class="tHead">Nom </th>
                  <th class="tHead">Prenom </th>
                  <th class="tHead">Email </th>
                  <th class="tHead">Téléphone </th>
                  <th class="tHead">INE </th>
                  <th class="tHead">Niveau d'Etudes </th>
                  <th class="tHead">Sexe</th>
                  <th class="tHead">Adresse</th>
                  <th class="tHead">Etats</th>
                  <th class="tHead">Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cassocial of cassocials">
                  <td>{{cassocial.nom }}</td>
                  <td>{{cassocial.prenom }}</td>
                  <td>{{cassocial.email}}</td>
                  <td>{{cassocial.telephone }}</td>
                  <td>{{cassocial.INE}}</td>
                  <td>{{cassocial.niveau_etudes}}</td>
                  <td>{{cassocial.sexe}}</td>
                  <td>{{cassocial.adresse }}</td>
                  <td>{{cassocial.Etat }}</td>

                  <td>
                    <span id="icon" >
                      <button *ngIf="cassocial.Etat == 'Validé'" disabled style="cursor: not-allowed; background-color: green;">
                        <i class="fa-solid fa-square-check" (click)="validerEtudiant(cassocial.id)">
                        </i>
                      </button>

                      <button *ngIf="cassocial.Etat != 'Validé'">
                        <i class="fa-solid fa-square-check" (click)="validerEtudiant(cassocial.id)">
                        </i>
                      </button>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>


            <table *ngIf="cassocials.length <0">
              <thead>
                  <tr>
                      <th>nom</th>
                      <th>prenom</th>
                      <th>email</th>
                      <th>telephone</th>
                      <th>INE</th>
                      <th>niveau_etudes</th>
                      <th>sexe</th>
                      <th>adresse</th>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td colspan="7">Aucune donnée disponible au niveau du tableau</td>
                  </tr>
              </tbody>
            </table>

          </div>
      </main>
  </div>
</div>


<!-- modal detail Etudiant -->
<!-- <div class="modal fade" id="detailsEtudiants" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter les etudiant par odre de mérite</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>


          <div class="mb-3">
            <label for="exampleInputnom" class="form-label">Nom:{{seletedEtudiantCasSocial.nom}}</label>
            <div id="nomHelp" class="form-text"></div>
          </div>
          <div class="mb-3">


            <label for="exampleInputpremon" class="form-label">Prenom:{{seletedEtudiantCasSocial.prenom}}</label>
            <div id="premonHelp" class="form-text"></div>
          </div>


          <div class="mb-3">
            <label for="exampleInputtelephone" class="form-label">Telephone:{{seletedEtudiantCasSocial.telephone}}</label>
            <div id="telephoneHelp" class="form-text"></div>
          </div>


          <div class="mb-3">
            <label for="exampleInputstatut" class="form-label">Niveau d'étude:{{seletedEtudiantCasSocial.niveau_etudes}}</label>
            <div id="etudeHelp" class="form-text"></div>
          </div>


           <div class="mb-3">
            <label for="exampleInputINE" class="form-label">INE:{{seletedEtudiantCasSocial.INE}}</label>
            <div id="INEHelp" class="form-text"></div>
          </div>


          <div class="mb-3">
            <label for="exampleInputadresse" class="form-label">Adress:{{seletedEtudiantCasSocial.adresse}}</label>
            <div id="adresseHelp" class="form-text"></div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>

      </div>
    </div>
  </div>
</div> -->
