<aside id="sidebar" class="border border-1  h-100" style="background-color: #A41034;">
  <div class="h-100">
      <div class="sidebar-logo container">
          <a href="#"><img src="../../assets/actu/MV5BMDZiOGJmNGMtMTgzMS00YmNlLTk2NTQtZWViNjQzNmQ1ZmFjXkEyXkFqcGdeQXVyOTIyMjQ2ODM@ 2.png" alt=""></a>
      </div>
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
          <li class="sidebar-header mb-3">
              Chef Pedagogique
          </li>
          <li class="sidebar-item mb-3">
            <a routerLink="#" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                <i class="fa-solid fa-sliders pe-2"></i>
                Dashboard
            </a>
        </li>


          <li class="sidebar-item mb-3">
              <a routerLink="/listechefpedagogique" routerLinkActive="activeMenu" class="sidebar-link collapsed text-decoration-none" >
                  <i class="fa-regular fa-user pe-2"></i>
                  <!-- <i class="fa-solid fa-warehouse-full"></i> -->
                  Liste des étudiants
              </a>
          </li>
      </ul>
  </div>
</aside>


