#logofooter img{
  height: 60px;
  width: 90px;
  /* margin-left: 30px; */
  }
  #iconecocialfooter i {
    background-color: white;

    /* color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footernavigate a:hover  {
    color: Black !important;
    font-weight: bold;
    font-size: 18px;
  }
  @media screen and (max-width: 1238px){

    #iconecocialfooter i {
      /* display: flex;
     flex-direction: column; */

     display: block;
     /* flex-direction: column; */
    }
  }


