<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebaretudiant></app-sidebaretudiant>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
            <div class="d-flex justify-content-around ">
            <h1 class="text">Payer ma Chambre</h1>
           </div>
          <button type="button w-25" class="btn btn-success btn-lg btn-block" (click)="payer()">Valider</button>
         </div>



  </main>
  </div>
</div>


