<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebaretudiant></app-sidebaretudiant>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
            <div class="d-flex justify-content-around ">
            <h1 class="text">Payer ma Chambre</h1>
           </div>
           <!-- <img src="../../../../assets/logo/OIP.jpg" alt=""> -->
           <div>
             <button type="button" class="btn btn-success btn-lg btn-block" (click)="payer()">Valider</button>
           </div>
           <img src="../../../../assets/logo/234A5FB4-1EC9-2F58-2BFD4B212223DB02.jpg" alt="">
         </div>



  </main>
  </div>
</div>


