<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main">
    <app-header-sidebar></app-header-sidebar>
    <main class="content px-3 py-2">
      <!-- COntenue dynamique -->
      <div class="container-fluid overflow-y-scroll" style="height: 88vh">
        <h1 class="text text-black text-center">Liste des pavillons</h1>
        <button
          type="button " data-bs-toggle="modal" data-bs-target="#ajouterPavillon" style="
            background-color: #a41034; color: white; width: 10%; height: 40px; border-radius: 10px;" >  Ajouter
        </button>

        <table
          datatable
          [dtOptions]="dtOptions"
          class="row-border hover w-100 table" *ngIf="tabpavillons?.length>0">
          <thead>
            <tr>
              <!-- <th class="tHead">ID</th> -->

              <th class="tHead">Libelle</th>
              <th class="tHead">Type pavillon</th>
              <th class="tHead">Nombres Chambres</th>
              <th class="tHead">Nombres Etages</th>
              <th class="tHead">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pavillon of tabpavillons ">
              <!-- <td>{{ pavillon.id }}</td> -->
              <td>{{ pavillon.libelle }}</td>
              <td>{{ pavillon.type_pavillon }}</td>
              <td>{{ pavillon.nombres_etages }}</td>
              <td>{{ pavillon.nombres_chambres }}</td>

              <td>
                <span id="icon" >
                  <button>
                    <i class="fa-solid fa-marker" data-bs-toggle="modal" data-bs-target="#Modifier"
                  (click)="chargerPavillon(pavillon)"></i>
                  </button>
                  <button>
                    <i class="fa-solid fa-trash" (click)="deletePavillon(pavillon.id)"></i>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<!-- Modal Ajout Pavillon -->
<div class="modal fade" id="ajouterPavillon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Ajouter un pavillon
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="profileForm">

           <!-- Nom Pavillon -->
          <div class="mb-3">
            <label for="exampleInputnompavillon" class="form-label">Nom Pavillon</label>
            <input type="text" class="form-control" name="libelle"  id="exampleInputnompavillon"
              aria-describedby="nompavillonHelp" formControlName="libelle" (input)="verifMessagelibelleFunction()"/>
              <p class="text-danger" *ngIf="!islibelleValid">{{verifMessagelibelle}}</p>
              <p class="text-success" *ngIf="islibelleValid"><i class="fa-solid fa-check"></i>exact</p>
          </div>

           <!-- Type Pavillon -->
          <div class="mb-3">
            <label for="type_pavillon" class="form-label">Type_pavillon</label>
            <select name="type_chambre" id="type_chambre" [(ngModel)]="type_pavillon" formControlName="type_pavillon">
                <option value="Homme">Homme</option>
                 <option value="Femme">Femme</option>
                 <option value="Mixte">Mixte</option>
            </select>
            <div id="type_pavillon" class="form-text"></div>
          </div>

          <!-- Nobre Chambre -->
          <div class="mb-3">
            <label for="exampleInputnbrschambre" class="form-label">Nombres Chambres</label>
             <select name="type_chambre" id="type_chambre" [(ngModel)]="nombres_chambres" formControlName="nombres_chambres">
              <option value="200">200</option>
               <option value="400">400</option>
               <option value="500">500</option>
               <option value="600">600</option>
          </select>
          </div>
          <!-- Nobre Etages -->
          <div class="mb-3">
            <label for="exampleInputnbrsetage" class="form-label" >Nbrs Etages</label>
            <select name="number" id="type_chambre" [(ngModel)]="nombres_etages" formControlName="nombres_etages">
              <option value="2">2</option>
               <option value="4">4</option>
               <option value="5">5</option>
          </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="typebutton btn"  (click)="ajouterPavillon()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Modifier-->
<div class="modal" id="Modifier" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier Pavillon</h4>
        <button type="button" class="btn-close" data-bs-dismiss="Modifier"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" [formGroup]="profileFormEdit">
        <!-- Libelle -->
        <div class="mb-3">
          <label for="libelleEdition" class="form-label">Libelle</label>
          <input type="text" class="form-control"  id="libelleEdition" aria-describedby="nompavillonHelp2" formControlName="libelleEdition" name="libelle" [(ngModel)]="libelle" />
          <div id="libelleEdition" class="form-text"></div>
        </div>

        <!-- Type Pavillon -->
        <div class="mb-3">
          <label for="libelleEditionEdition" class="form-label">Type Pavillon</label>
          <input type="text" class="form-control" name="type_pavillon" id="exampleInputTypeChambre1" aria-describedby="typepavillonHelp" formControlName="type_pavillonEdition" [(ngModel)]="type_pavillon" />
          <div id="libelleEditionEdition" class="form-text"></div>
        </div>

        <!-- Nbrs Chambres -->
        <div class="mb-3">
          <label for="nombres_chambresEdition" class="form-label">Nbrs Chambres</label>
          <input type="text" class="form-control" id="nombres_chambresEdition" aria-describedby="nombres_chambresEdition"  name="nombres_etages" formControlName="nombres_etagesEdition"[(ngModel)]="nombres_etages"/>
          <div id="nombres_chambresEdition" class="form-text"></div>
        </div>

        <!-- Nbrs Etages -->
        <div class="mb-3">
          <label for="nombres_etagesEdition" class="form-label">Nbrs Etages</label>
          <input type="text" class="form-control" name="nombres_etages" id="nombres_etagesEdition" aria-describedby="nbrsetageHelp" formControlName="nombres_chambresEdition" [(ngModel)]="nombres_chambres" />

          <div id="nombres_etagesEdition" class="form-text"></div>
        </div>
      </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="editerPavillon()" >
          Modifier
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

