#icon{
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
}
.tHead{
  background-color: #a41034;
  color: white;
}
span{
  display: flex;
  gap: 15px;

}
.text{color: #A41034;

}
.info{
  background-color: #A41034;
  color: white;
}
.typebutton{
  background-color: #E68513;
  color: white;
}
/* validation */
span.span_validate
{
  font-size: 12px;
  display: none;
  transition: ease 1.5s;
}

.error
{
  display: inline-block !important;
  color: red !important;
}
.success
{
  display: inline-block !important;
  color: rgb(45, 194, 77) !important;
}
