<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebarchefpavion></app-sidebarchefpavion>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh; ">
          <h1 class="text">Historique des reclamations</h1>
           <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">

              <thead>
                <tr>
                  <th class="tHead">ID</th>
                  <th class="tHead">Nom</th>
                  <th class="tHead">Prenom</th>
                  <th class="tHead">Objet </th>
                  <th class="tHead">Message</th>
                  <th class="tHead">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Camara</td>
                  <td>Mariane</td>
                  <td>Demande</td>
                  <td>Demande de répation de la portail du chambre 20 au pavion A </td>
                  <td><span><i class="fa-solid fa-marker"></i><i class="fa-solid fa-eye"></i></span></td>

                </tr>
                <tr>
                  <td>2</td>
                  <td>Sall</td>
                  <td>Andre</td>
                  <td>Réparation</td>
                  <td>Demande de répation de la portail du chambre 40 au pavion D </td>
                  <td><span><i class="fa-solid fa-marker"></i><i class="fa-solid fa-eye"></i></span></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Sow</td>
                  <td>Abdoul</td>
                  <td>Réparation</td>
                  <td>Demande de répation de la portail du chambre 100 au pavion B </td>
                  <td><span><i class="fa-solid fa-marker"></i><i class="fa-solid fa-eye"></i></span></td>

                </tr>
                <tr>
                  <td>4</td>
                  <td>Sow</td>
                  <td>Abdoul</td>
                  <td>Réparation</td>
                  <td>Demande de répation de la portail du chambre 20 au pavion H </td>
                  <td><span><i class="fa-solid fa-marker"></i><i class="fa-solid fa-eye"></i></span></td>

                </tr>
                <tr>
                  <td>5</td>
                  <td>Sene</td>
                  <td>Amadou</td>
                  <td>Réparation</td>
                  <td>Demande de répation de la portail du chambre 60 au pavion A </td>
                  <td><span><i class="fa-solid fa-marker"></i><i class="fa-solid fa-eye"></i></span></td>
                </tr>

              </tbody>
            </table>



          </div>
      </main>
  </div>
</div>

