.tHead{
  background-color: #A41034;
  color: white;
}
span{
  display: flex;
  gap: 15px;

}
text{
  color: #A41034;
}
button{
  background-color: #A41034;
  color: white;

}
#search{
  margin-left: 10px;
}
p{
  margin-left: 60%;
  margin-top: 30px;
}
.Traité-status {
  color: green; /* Couleur pour le statut "Actif" */
}

.Ouvert-status {
  color: red; /* Couleur pour le statut "Inactif" */
}
@media screen and (max-width: 1238px){
  table-responsive{
    display: grid;
    grid-template-columns: 1fr;
  }

  }

