<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebarchefpavion></app-sidebarchefpavion>
  <!-- Main Component -->
  <div class="main">
      <app-header-sidebar></app-header-sidebar>
      <form action="/search"  method="get">
        <p>Recherche :<input type="text" id="search" name="q" [(ngModel)]="searchUtulisateur" (input)="getArticlesPage"  placeholder="Rechercher..."></p>

        <!-- <input type="submit" value="Rechercher"> -->
      </form>

      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <!-- <div class="container-fluid overflow-y-scroll" style="height: 88vh; ">
          <h1 class="text text-center">Historique des reclamations</h1>
           <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">

              <thead>
                <tr>

                  <th class="tHead">Objet</th>
                  <th class="tHead">Message</th>
                  <th class="tHead">Traitement </th>
                  <th class="tHead">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="reclamations">
                <tr *ngFor=" let reclamaton of reclamations">
                  <td>{{reclamaton.objet}}</td>
                  <td>{{reclamaton.message}}</td>
                  <td>{{reclamaton.status}}</td>


                  <td><span>

                    <button >
                      <i
                      class="fa-solid fa-eye"
                      data-bs-toggle="modal"
                      data-bs-target="#detail" (click)="getReclamation(reclamaton)">
                    </i>
                    </button>
                  </span></td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <table class="table mt-3">
            <thead>
              <tr>
                <th class="tHead">ID</th>
                <th class="tHead">Objet</th>
                <th class="tHead">Message</th>
                <th class="tHead">Traitement</th>
                <th class="tHead">Action</th>

                <!-- Ajoutez d'autres colonnes au besoin -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reclamation of getArticlesPage()">
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.message }}</td>
                <td>{{ reclamation.status }}</td>
                <td><span>

                  <button >
                    <i
                    class="fa-solid fa-eye"
                    data-bs-toggle="modal"
                    data-bs-target="#detail" (click)="getReclamation(reclamation)">
                  </i>
                  </button>
                </span></td>
                <!-- Ajoutez d'autres cellules au besoin -->
              </tr>
            </tbody>
          </table>

      </main>

      <div class="d-flex flex-wrap justify-content-center my-5" >
        <button class="btn pagiColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
          Précédent
        </button>
        <button class="btn pagiColor  ms-2 " *ngFor="let page of pages" (click)="pageActuelle = page">
          {{ page }}
        </button>
        <button class="btn pagiColor  ms-2 " [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
          Suivant
        </button>
      </div>
  </div>
</div>
<!-- pagination -->

<!-- Details Reclamationt -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter les etudiant par odre de mérite</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>

          <!-- Objet -->
          <div class="mb-3">
            <label for="exampleInputnom" class="form-label">Objet:{{seletedReclamation.objet}}</label>
            <div id="nomHelp" class="form-text"></div>
          </div>
          <div class="mb-3">

            <!-- Message -->
            <label for="exampleInputpremon" class="form-label">Message:{{seletedReclamation.message}}</label>
            <div id="premonHelp" class="form-text"></div>
          </div>

          <!-- Chambres_id -->
          <div class="mb-3">
            <label for="exampleInputtelephone" class="form-label">Chambres_id:{{seletedReclamation.chambres_id}}</label>
            <div id="telephoneHelp" class="form-text"></div>
          </div>

          <!--Status -->
          <div class="mb-3">
            <label for="exampleInputstatut" class="form-label">Status:{{seletedReclamation.status}}</label>
            <div id="etudeHelp" class="form-text"></div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>

      </div>
    </div>
  </div>
</div>
