.tHead{
  background-color: #A41034;
  color: white;
}
span{
  display: flex;
  gap: 15px;

}
text{
  color: #A41034;
}
button{
  background-color: #A41034;
  color: white;

}
#search{
  margin-left: 10px;
}
p{
  margin-left: 60%;
  margin-top: 30px;
}
