<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
          <h1 class="text text-black text-center">Liste des Utilisateurs</h1>
          <button type="button " data-bs-toggle="modal" data-bs-target="#ajoutChefPavion" style="background-color: #A41034; color: white; width: 10%;height: 40px; border-radius: 10px;">Ajouter</button>

            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table" >

              <thead>
                <tr>

                  <!-- <th class="tHead">ID</th> -->
                  <th class="tHead">Nom</th>
                  <th class="tHead">Prenom</th>
                  <th class="tHead">Email</th>
                  <!-- <th class="tHead">Password</th> -->
                  <th class="tHead">Telephone</th>
                  <th class="tHead">Role</th>
                  <th class="tHead">Status</th>
                  <th class="tHead">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let utilisateur of tabUtilisateurs">
                  <!-- <td>{{utilisateur.id}}</td> -->
                  <td>{{utilisateur.nom}}</td>
                  <td>{{utilisateur.prenom}}</td>
                  <td>{{utilisateur.email}}</td>
                  <!-- <td>{{utilisateur.password}}</td> -->
                  <td>{{utilisateur.telephone}}</td>
                  <td>{{utilisateur.nomRole}}</td>
                  <td>{{utilisateur.status}}</td>

                  <!-- <td><button type="button" class="btn btn-outline-success">{{utilisateur.status}}</button></td> -->
                  <td>
                  <span id="icon" >

                    <button>
                      <i
                      class="fa-solid fa-eye"
                      data-bs-toggle="modal"
                      data-bs-target="#details" (click)="getUtilisateur(utilisateur)">
                    </i>
                    </button>

                    <!-- <button>
                      <i class="fa-solid fa-trash" (click)="deleteUtilisateur(utilisateur.id)"></i>
                    </button> -->
                  </span>
                </td>

              </tbody>
            </table>



          </div>
      </main>
  </div>
</div>
<!-- The Modal Ajouter-->
<div class="modal fade" id="ajoutChefPavion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="exampleModalLabel ">Ajouter Role </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="profileForm">
          <!-- <div class="mb-3">
            <label for="exampleInputid" class="form-label">ID</label>
            <input type="id" class="form-control" id="exampleInputId1" aria-describedby="idHelp">
            <div id="idHelp" class="form-text"></div>
          </div> -->
          <div class="mb-3">
            <label for="exampleInputnom" class="form-label">Nom</label>
            <input type="text" name="name" class="form-control" id="exampleInputId1" aria-describedby="nomHelp" formControlName="nom">
            <div id="nomHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputpremon" class="form-label">Prenom</label>
            <input type="text" name="prenom" class="form-control" id="exampleInputPrenom1" aria-describedby="premonHelp" formControlName="prenom">
            <div id="premonHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputemail" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputemail1" aria-describedby="emailHelp" formControlName="email">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputtelephone" class="form-label">Telephone</label>
            <input type="number" name="telephone" class="form-control" id="exampleInputtelephone" aria-describedby="telephonetHelp" formControlName="telephone">
            <div id="telephonelHelp" class="form-text"></div>
          </div>
           <div class="">
          <label  class="form-label ">Rôle</label>
          <select class="form-select w-100 my-2" aria-label="Default select example" name="roles_id" formControlName="roles_id">
            <option selected>Selectionner un role</option>
            <option value="2">Chef-Pavillon</option>
            <option value="3">Chef-Pédagogie</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="typebutton btn btn-primary" (click)="ajoutUtilisateur()" >Ajouter</button>
        </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="typebutton btn btn-primary">Ajouter</button>
      </div> -->
    </div>
  </div>
</div>

<!-- The Modal detail-->
<div class="modal" id="details" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail Utilisateur</h4>
        <button type="button" class="btn-close" data-bs-dismiss="Modifier"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" [formGroup]="profileFormEdit">
        <!-- Nom -->
        <div class="mb-3">
          <label for="nom" class="form-label">Nom:{{seletedUtilisateur.nom}}</label>

        </div>

        <!-- prenom Utilisateur -->
        <div class="mb-3">
          <label for="prenomEdition" class="form-label">Prenom:{{seletedUtilisateur.prenom}}</label>

        </div>

        <!-- Email  -->
        <div class="mb-3">
          <label for="nombres_chambresEdition" class="form-label">Email:{{seletedUtilisateur.email}}</label>

        </div>

        <!-- status -->
        <div class="mb-3">
          <label for="statusEdition" class="form-label">Status:{{seletedUtilisateur.status}}</label>


        </div>

        <!-- Telephone -->
        <div class="mb-3">
          <label for="telephoneEdition" class="form-label">Telephone:{{seletedUtilisateur.telephone}}</label>


          <div id="telephoneEdition" class="form-text"></div>
        </div>

        <!-- Roles_id -->
        <div class="mb-3">
          <label for="roles_idEdition" class="form-label">Roles_ID:{{seletedUtilisateur.roles_id}}</label>

        </div>
      </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="editUtilisateur()" >
          Modifier
        </button> -->
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- The Modal Modifier-->
<div class="modal" id="Modifier" >
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modifier Utilisateur</h4>
        <button type="button" class="btn-close" data-bs-dismiss="Modifier"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="" [formGroup]="profileFormEdit">
        <!-- Nom -->
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control"  id="nom" aria-describedby="nomHelp2" formControlName="nom" name="nom" [(ngModel)]="nom" />
          <div id="nomEdition" class="form-text"></div>
        </div>

        <!-- prenom Utilisateur -->
        <div class="mb-3">
          <label for="prenomEdition" class="form-label">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="exampleInputprenom1" aria-describedby="prenomHelp" formControlName="prenom" [(ngModel)]="prenom" />
          <!-- <div id="prenomEdition" class="form-text"></div> -->
        </div>

        <!-- Email  -->
        <div class="mb-3">
          <label for="nombres_chambresEdition" class="form-label">Email</label>
          <input type="text" class="form-control" id="emailEdition" aria-describedby="emailEdition"  name="email" formControlName="email"[(ngModel)]="email"/>
          <!-- <div id="emailEdition" class="form-text"></div> -->
        </div>

        <!-- status -->
        <div class="mb-3">
          <label for="statusEdition" class="form-label">Status</label>
          <input type="text" class="form-control" name="status" id="statusEdition" aria-describedby="statusHelp" formControlName="status" [(ngModel)]="status" />

        </div>

        <!-- Telephone -->
        <div class="mb-3">
          <label for="telephoneEdition" class="form-label">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="telephoneEdition" aria-describedby="telephoneHelp" formControlName="telephone" [(ngModel)]="telephone" />

          <div id="telephoneEdition" class="form-text"></div>
        </div>

        <!-- Roles_id -->
        <div class="mb-3">
          <label for="roles_idEdition" class="form-label">Roles_ID</label>
          <input type="text" class="form-control" name="roles_id" id="roles_idEdition" aria-describedby="nbrsetageHelp" formControlName="roles_id" [(ngModel)]="roles_id" />

          <!-- <div id="roles_idEdition" class="form-text"></div> -->
        </div>
      </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="editUtilisateur()" >
          Modifier
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

