<div class="wrapper">
  <!-- Sidebar -->
  <app-sitebar></app-sitebar>
  <!-- Main Component -->
  <div class="main ">
      <app-header-sidebar></app-header-sidebar>
      <main class="content px-3 py-2">
          <!-- COntenue dynamique -->
          <div class="container-fluid overflow-y-scroll" style="height: 88vh;">
          <h1 class="text text-black text-center">Liste des Utilisateurs</h1>
          <button type="button " data-bs-toggle="modal" data-bs-target="#ajoutChefPavion" style="background-color: #A41034; color: white; width: 10%;height: 40px; border-radius: 10px;">Ajouter</button>

            <table datatable [dtOptions]="dtOptions" class="row-border hover w-100 table">

              <thead>
                <tr>

                  <th class="tHead">ID</th>
                  <th class="tHead">Nom</th>
                  <th class="tHead">Prenom</th>
                  <th class="tHead">Email</th>
                  <th class="tHead">Telephone</th>
                  <th class="tHead">Role</th>
                  <th class="tHead">statut</th>
                  <th class="tHead">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let utilisateur of tabUtilisateurs">
                  <td>{{utilisateur.id}}</td>
                  <td>{{utilisateur.nom}}</td>
                  <td>{{utilisateur.prenom}}</td>
                  <td>{{utilisateur.email}}</td>
                  <td>{{utilisateur.telephone}}</td>
                  <td>{{utilisateur.roles_id}}</td>
                  <td>{{utilisateur.status}}</td>
                  <td><span id="icon"><i class="fa-solid fa-marker"></i><i class="fa-solid fa-eye"></i><i class="fa-solid fa-trash"></i></span></td>

              </tbody>
            </table>



          </div>
      </main>
  </div>
</div>
<div class="modal fade" id="ajoutChefPavion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 " id="exampleModalLabel ">Ajouter Role </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="profileForm">
          <!-- <div class="mb-3">
            <label for="exampleInputid" class="form-label">ID</label>
            <input type="id" class="form-control" id="exampleInputId1" aria-describedby="idHelp">
            <div id="idHelp" class="form-text"></div>
          </div> -->
          <div class="mb-3">
            <label for="exampleInputnom" class="form-label">Nom</label>
            <input type="text" name="name" class="form-control" id="exampleInputId1" aria-describedby="nomHelp" formControlName="nom">
            <div id="nomHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputpremon" class="form-label">Prenom</label>
            <input type="text" name="prenom" class="form-control" id="exampleInputPrenom1" aria-describedby="premonHelp" formControlName="prenom">
            <div id="premonHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputemail" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputemail1" aria-describedby="emailHelp" formControlName="email">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputtelephone" class="form-label">Telephone</label>
            <input type="number" name="telephone" class="form-control" id="exampleInputtelephone" aria-describedby="telephonetHelp" formControlName="telephone">
            <div id="telephonelHelp" class="form-text"></div>
          </div>
           <div class="">
          <label  class="form-label ">Rôle</label>
          <select class="form-select w-100 my-2" aria-label="Default select example" name="roles_id" formControlName="roles_id">
            <option selected>Selectionner un role</option>
            <option value="2">Chef-Pavillon</option>
            <option value="3">Chef-Pédagogie</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="typebutton btn btn-primary" (click)="ajoutUtilisateur()" >Ajouter</button>
        </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="typebutton btn btn-primary">Ajouter</button>
      </div> -->
    </div>
  </div>
</div>
<p>{{nom_utilisateur}}</p>
<p>{{prenom_utilisateur}}</p>
<p>{{email_utilisateur}}</p>
<p>{{password_utilisateur}}</p>
<p>{{roles_id_utilisateur}}</p>
<p>{{roles_id_utilisateur}}</p>
